body {
    background-color: #EFF0E9;
}

.quote {
    font-family: 'Nunito';
    font-style: normal;
    font-size: 40px;
    display: flex;
    color: #124A57;
}

.nav {
    font-family: 'Nunito';
    font-style: semi-bold;
    font-size: 18px;
    display: flex;
    color: #373435;
    position: absolute;
    right: 2%;
    top: 100px;
    word-spacing: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li { 
    display: inline;
}

h2 {
    font-family: 'Bree Serif';
    font-style: normal;
    font-size: 36px;
    color: #373435;
    text-align: right;
    position: absolute;
    right: 2%;
    top: 150px;
}

.logo {
    margin-right: auto;
    margin-left: 1%;
    margin-top: -150px;
    float: left;
}

.about {
    font-family: 'Bree Serif';
    font-style: normal;
    font-size: 20px;
    color: #373435;
    text-align: right;
    width: 500px;
    position: absolute;
    top: 250px;
    right: 2%;

}

.button {
    background-color: #124A57;
    border: none;
    border-radius: 20px;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-family: 'Bree Serif';
    font-size: 20px;
    color: #EFF0E9;
    cursor: pointer;
    position: absolute;
    top: 550px;
    right: 2%;
}

#design {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    position: absolute;
    top: 575px;
    right: 2%;
}

.footer {
    display:inline-block;
    position: absolute;
    right: 5%;
    top: 750px;
}