body {
    background-color: #EFF0E9;
}

.quote {
    font-family: 'Nunito';
    font-style: normal;
    font-size: 40px;
    display: flex;
    color: #124A57;
}

.nav {
    position: absolute;
    right: 2%;
    top: 100px;
    word-spacing: 30px;
    text-decoration: none;
    font-family: 'Nunito';
    font-style: semi-bold;
    font-size: 18px;
    display: flex;
    color: #373435;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li { 
    display: inline;
}

h2 {
    font-family: 'Bree Serif';
    font-style: normal;
    font-size: 36px;
    color: #373435;
    text-align: right;
}

.workGrid {
    display: grid;
    margin: 0px 5%;
    grid-template-rows: 500px 500px;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: column;
    grid-template-areas: 
    "ChefsyImage Chefsy"
    "BFImage BlackFret";
}

p {
    font-family: 'Bree Serif';
    font-style: normal;
    font-size: 20px;
    color: #373435;
    text-align: right;
}

.Chefsy {
    width: 750px;
    position: absolute;
    top: 175px;
    right: 10%;
}

.BlackFret {
    width: 750px;
    position: absolute;
    top: 700px;
    right: 10%;
}

.button {
    background-color: #124A57;
    border: none;
    border-radius: 20px;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    font-family: 'Bree Serif';
    font-size: 20px;
    color: #EFF0E9;
    cursor: pointer;
    float: right;
}

#ChefsyImage {
    float: left;
    position: absolute;
    left: 5%;
    top: 150px;
}

#BFImage {
    float: left;
    position: absolute;
    left: 10%;
    top: 725px;
}

.footer {
    display:inline-block;
    position: absolute;
    right: 5%;
    top: 1200px;
}

@media only screen and (max-width: 600px) {
    .workGrid {
        max-width: 600px;
        grid-template-rows: 250px 250px;
        grid-template-areas: 
        "Chefsy"
        "ChefsyImage"
        "BlackFret"
        "BFImage";
    }
}